body {
    background-color: white;
    margin:0;
}
header{
    background-color: black;
    margin:0;
}

.heading {
    display:flex;
    justify-content: center;
}
.heading h1 {
    color: white;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 120px;;
}